<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>346528066197-24kikq1kt1f5ngfjh22oavr3m7g44vc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346528066197-24kikq1kt1f5ngfjh22oavr3m7g44vc3</string>
	<key>API_KEY</key>
	<string>AIzaSyCYr_iuTmjZvM-CW3d-0QtBePYo0zoNkyk</string>
	<key>GCM_SENDER_ID</key>
	<string>346528066197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lavamy.SkypassAdmin</string>
	<key>PROJECT_ID</key>
	<string>skypass-669f8</string>
	<key>STORAGE_BUCKET</key>
	<string>skypass-669f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:346528066197:ios:d8b2c37cf789bfc8</string>
	<key>DATABASE_URL</key>
	<string>https://skypass-669f8.firebaseio.com</string>
</dict>
</plist>